body {
    background-color:#1f242d;
}

#nav {
    background-color:#1f242d;
    
}
.navbar a{
    color: #7cf03d;
    font-weight: 500;
}

.col1{
    align-items: center;
    align-content: center;
}

