    
body {
    background-color:#1f242d;
    padding: 0;
    margin: 0;

}



section{
    height: 100vh;
    
}



#nav {
    background-color:#1f242d;
    
}




.navbar a{
    color:rgb(28, 28, 28);
    font-weight: 500;
}

.col1{
    align-items: center;
    align-content: center;
}

  .imgcolpo img{
    width: 250px;
    height: 300px;
    border-radius: 5%;
}

.profileH2{
    margin-bottom: 6%;
}




.navbar .nav-link{
    color: #ffffff;
    font-weight: 500;
    transition: .3s;
}


.navbar .nav-link:hover{
    color: #7cf03d;
    font-weight: 500;
    transition: .3s;
}
/*-----------portfolio---------------------------------------------------------*/

#portfolio




.col-md-8 h3 span{
    position: absolute;
    color: yellow;
    color: transparent;
    -webkit-text-stroke: .7px yellow;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s *var(--i));
}

@keyframes display-text {
    25%,
    100%{
        display: none;
    }
}


@keyframes fill-text {
    10%,
    100%{
        width: 0;
    }

    70%,
    90%{
        width: 100%;
    }

}


.col-md-8 h3 span::before{
    
    content: attr(data-text);
    position: absolute;
    width: 100%;
    border-left: 2px solid yellow;
    color: yellow;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite ;
}






/*

.container.about {
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
*/
/*.aboutcol {
    opacity: 0;
    transform: translateY(100px); /* شروع از پایین 
    animation: slideUp 3s ease-out forwards;}
*/
/* متن */





/* انیمیشن

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



*/


/*-----------#about---------------------------------------------------------*/

#about{
    background: linear-gradient(rgba(28, 28, 28,0.8),rgba(28, 28, 28,0.8)),url(/img/5026.png);
/*-----------#about---background-image: url(/img/5026.png);------------------------------------------------------*/

    


}

#about .col-md-6{

    
    background-color:rgba(var(--bs-secondary-bg-rgb), .5);    
}


#about .box {
    
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

#about .box.show {
    opacity: 1;
    transform: translateY(0);
}



/*-----------#skills---------------------------------------------------------*/

#skills{
    background-color: #bcbfc5;
    
}



.c-skills .boxicon-skills{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    font-size: 120px;
}

.boxicon-skills i{
    box-shadow: 0px 15px 25px rgba( 0,0, 0,0.3);

    /*border:1px solid #1f242d ;*/
    border-radius: 50%;
}

.c-skills  {
    align-items: center;
    height: 250px;
    width:100%;
    border:1px solid #bcbfc5 ;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border-radius:15px;
    box-shadow: 0px 15px 25px rgba( 0,0, 0,0.3);
}

#skills .col-md-4 {
    display: flex;
    justify-content: center;  /* وسط افقی */
    align-items: center;      /* وسط عمودی */
}


/*-----------#skills---------------------------------------------------------*/


 .boxx {
    width: 100%;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;

    /* موقعیت اولیه خارج از صفحه */
    transform: translateX(-200px);
    opacity: 0;

    /* فعال کردن انیمیشن */
    transition: all 1s ease-out;
  }

  
  /* وقتی فعال شد (وقتی دیده شد) */
  .boxx.show {
    transform: translateX(0);
    opacity: 1;
  }

  /* اضافه کردن تاخیر برای هر باکس */
   .boxx:nth-child(1) { animation-delay: 0.2s; }
   .boxx:nth-child(2) { animation-delay: 0.6s; }
   .boxx:nth-child(3) { animation-delay: 1s; }

  /* تعریف انیمیشن */
  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .boxx .boxicon{
    font-size: 34px;
  }
